---
import ShoelaceLayout from '../layouts/ShoelaceLayout.astro';
import { TreeDiagram } from '../components/TreeDiagram.js';

const sampleData = {
  name: 'Granddad',
  children: [
    {
      name: 'Child 1',
      children: [{ name: 'Grandchild 1' }, { name: 'Grandchild 2' }],
    },
    {
      name: 'Child 2',
      children: [{ name: 'Grandchild 3' }],
    },
  ],
};
---

<ShoelaceLayout title='Tree Diagram'>
  <div class='container'>
    <h1 class='title'>Tree Diagram</h1>
    <TreeDiagram client:load data-json={JSON.stringify(sampleData)} />
  </div>
</ShoelaceLayout>

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-start; /* Align items to the start of the container */
    align-items: center; /* Center items horizontally */
    border: 2px solid black;
  }
  .title {
    padding-left: 20px; /* Add padding to move the <h1> to the right */
  }
  tree-diagram {
    width: 100%;
    height: 100%;
  }
</style>
